# Node modules
node_modules/

# Yarn
.yarn/
.pnp.*
.yarnrc.yml
yarn-error.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp
/.pnp.js

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
/dist/
/build/

# Environment variables
.env
.env.local
.env.*.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MacOS
.DS_Store

# Linux
*.out

# Windows
Thumbs.db
